<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Handwriting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD5FCF261F340DFE000478F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD5FCF3D1F340E0C000478F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD5FCF481F340E0E000478F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
